
  <div class="main_content_iner">
    <div class="container-fluid p-0 sm_padding_15px">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
              <div class="box_header m-0">
                <div class="main-title">
                  <h3 class="m-0">Airplane Details</h3>
                </div>
              </div>
            </div>
            <div class="white_card_body">
              <form [formGroup]="planeEditForm">
                <div class="mb-3">
                  <label class="form-label" for="exampleInputEmail1"
                    >Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail"
                    formControlName="airplaneName"
                    aria-describedby="emailHelp"
                    [(ngModel)]="data.airplaneName"
                  />
                  <div>
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['airplaneName'].touched &&
                        planeEditForm.hasError('required', 'airplaneName')
                      "
                      ><i class="sp">*required*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['airplaneName'].touched &&
                        planeEditForm.hasError('pattern', 'airplaneName')
                      "
                      ><i class="sp">*Invalid Format*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['airplaneName'].touched &&
                        planeEditForm.hasError('minlength', 'airplaneName')
                      "
                      ><i class="sp">*Name is too short*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['airplaneName'].touched &&
                        planeEditForm.hasError('maxlength', 'airplaneName')
                      "
                      ><i class="sp">*Name is too long*</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputEmail"
                    >Model Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail"
                    formControlName="modelNo"
                    aria-describedby="emailHelp"
                    [(ngModel)]="data.modelNo"
                  />
                  <div>
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['modelNo'].touched &&
                        planeEditForm.hasError('required', 'modelNo')
                      "
                      ><i class="sp">*required*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['modelNo'].touched &&
                        planeEditForm.hasError('pattern', 'modelNo')
                      "
                      ><i class="sp">*Invalid Format*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['modelNo'].touched &&
                        planeEditForm.hasError('minlength', 'modelNo')
                      "
                      ><i class="sp">*model number is too short*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['modelNo'].touched &&
                        planeEditForm.hasError('maxlength', 'modelNo')
                      "
                      ><i class="sp">*model number is too long*</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputPassword"
                    >Total Seats</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="totalSeats"
                    [(ngModel)]="data.totalSeats"
                  />
                  <div>
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['totalSeats'].touched &&
                        planeEditForm.hasError('required', 'totalSeats')
                      "
                      ><i class="sp">*required*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['totalSeats'].touched &&
                        planeEditForm.hasError('pattern', 'totalSeats')
                      "
                      ><i class="sp">*Invalid Format*</i></span
                    >
                    <span
                      
                      *ngIf="
                        planeEditForm.controls['totalSeats'].touched &&
                        planeEditForm.hasError('maxlength', 'totalSeats')
                      "
                      ><i class="sp">*number is too long*</i></span
                    >
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-secondary"
                  style="float: left"
                  (click)="cancel()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  id="btnADD"
                  (click)="onEditSubmit()"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

