<app-company-nav></app-company-nav>
<body>
<div class="main_content_iner ">
    <div class="container-fluid p-0 sm_padding_15px">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="white_card card_height_100 mb_30">
    <div class="white_card_header">
    <div class="box_header m-0">
    <div class="main-title">
    <h3 class="m-0">Airplane Details</h3>
    </div>
    </div>
    </div>
    <div class="white_card_body">
    <form [formGroup]="planeEditForm">
    <div class="mb-3">
    <label class="form-label" for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail" formControlName="airplaneName"aria-describedby="emailHelp" [(ngModel)]="data.airplaneName" >
    <div>
        <span class="sp" *ngIf="(planeEditForm.controls['airplaneName'].touched) && (planeEditForm.hasError('required','airplaneName'))"><i>*required*</i></span>
        <span class="sp" *ngIf="(planeEditForm.controls['airplaneName'].touched) && (planeEditForm.hasError('pattern','airplaneName'))"><i>*Invalid Format*</i></span>
        <span class="sp" *ngIf="(planeEditForm.controls['airplaneName'].touched) && (planeEditForm.hasError('minlength','airplaneName'))"><i>*Name is too short*</i></span>
        <span class="sp" *ngIf="(planeEditForm.controls['airplaneName'].touched) && (planeEditForm.hasError('maxlength','airplaneName'))"><i>*Name is too long*</i></span>
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail">Model Number</label>
        <input type="text" class="form-control" id="exampleInputEmail" formControlName="modelNo" aria-describedby="emailHelp" [(ngModel)]="data.modelNo">
        <div>
            <span class="sp" *ngIf="(planeEditForm.controls['modelNo'].touched) && (planeEditForm.hasError('required','modelNo'))"><i>*required*</i></span>
            <span class="sp" *ngIf="(planeEditForm.controls['modelNo'].touched) && (planeEditForm.hasError('pattern','modelNo'))"><i>*Invalid Format*</i></span>
            <span class="sp" *ngIf="(planeEditForm.controls['modelNo'].touched) && (planeEditForm.hasError('minlength','modelNo'))"><i>*model number is too short*</i></span>
            <span class="sp" *ngIf="(planeEditForm.controls['modelNo'].touched) && (planeEditForm.hasError('maxlength','modelNo'))"><i>*model number  is too long*</i></span>
          </div>
        </div>
    <div class="mb-3">
    <label class="form-label" for="exampleInputPassword">Total Seats</label>
    <input type="text" class="form-control" id="exampleInputPassword" formControlName="totalSeats" [(ngModel)]="data.totalSeats">
    <div>
        <span class="sp" *ngIf="(planeEditForm.controls['totalSeats'].touched) && (planeEditForm.hasError('required','totalSeats'))"><i>*required*</i></span>
        <span class="sp" *ngIf="(planeEditForm.controls['totalSeats'].touched) && (planeEditForm.hasError('pattern','totalSeats'))"><i>*Invalid Format*</i></span>
        <span class="sp" *ngIf="(planeEditForm.controls['totalSeats'].touched) && (planeEditForm.hasError('maxlength','totalSeats'))"><i>*number  is too long*</i></span>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary"style="float: left;"(click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-success"id="btnADD"(click)="onEditSubmit()">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>


