<app-company-nav></app-company-nav><br /><br />

<body>
  <form [formGroup]="FlightRegForm">
    <div class="main_content_iner">
      <div class="container-fluid p-0 sm_padding_15px">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="white_card card_height_100 mb_30">
              <div class="white_card_header">
                <div class="box_header m-0">
                  <div class="main-title">
                    <h3 class="m-0">Flight Registration</h3>
                    <br />
                  </div>
                </div>
              </div>
              <div class="white_card_body">
                <!--Dropdown for selecting airplane names-->

                <label class="form-label" for="exampleInputEmail1"
                  >Airplane Name</label
                >
                <div class="dropdown">
                  <div class="mb-4 pb-2">
                    <select
                      class="form-control"
                      formControlName="airplane"
                      id="Companydropdown"
                    >
                      <option value="">Select Airplane</option>
                      <option
                        *ngFor="let name of AirplaneDetails"
                        [value]="name.airplaneId"
                      >
                        {{ name.airplaneName }}
                      </option>
                    </select>
                    <div>
                      <span
                        class="span1"
                        *ngIf="
                          FlightRegForm.controls['airplane'].touched &&
                          FlightRegForm.hasError('required', 'airplane')
                        "
                        ><i>Please select airplane name</i></span
                      >
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputEmail1"
                    >Flight Number</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    formControlName="flightno"
                    aria-describedby="emailHelp"
                    placeholder=""
                  />
                  <div>
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['flightno'].touched &&
                        FlightRegForm.hasError('required', 'flightno')
                      "
                      ><i>Please enter flight number</i></span
                    >
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['flightno'].touched &&
                        FlightRegForm.hasError('pattern', 'flightno')
                      "
                      ><i>Invalid format</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputPassword1"
                    >Departing City</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="departure"
                    placeholder=""
                  />
                  <div>
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['departure'].touched &&
                        FlightRegForm.hasError('required', 'departure')
                      "
                      ><i>Please enter departure city</i></span
                    >
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['departure'].touched &&
                        FlightRegForm.hasError('pattern', 'departure')
                      "
                      ><i>Invalid Format</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputPassword1"
                    >Departure date&time</label
                  >
                  <input
                    type="datetime-local"
                    min="{{ today }}"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="departureDT"
                    placeholder=""
                  />
                  <div>
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['departureDT'].touched &&
                        FlightRegForm.hasError('required', 'departureDT')
                      "
                      ><i>Please enter departing date & time</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputPassword1"
                    >Destination City</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="destination"
                    placeholder=""
                  />
                  <div>
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['destination'].touched &&
                        FlightRegForm.hasError('required', 'destination')
                      "
                      ><i>Please enter destination city</i></span
                    >
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['destination'].touched &&
                        FlightRegForm.hasError('pattern', 'destination')
                      "
                      ><i>*Invalid Format*</i></span
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputPassword1"
                    >Arrival date&time</label
                  >
                  <input
                    type="datetime-local"
                    min="{{ today }}"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="ariivalDT"
                    placeholder=""
                  />
                  <div>
                    <span
                      class="span1"
                      *ngIf="
                        FlightRegForm.controls['ariivalDT'].touched &&
                        FlightRegForm.hasError('required', 'ariivalDT')
                      "
                      ><i>Please enter arrival date & time</i></span
                    >
                  </div>
                </div>
              </div>
              <div class="white_card_body">
                <button class="btn btn-dark" (click)="addCreds()" id="btnadd">
                  Click here to add seat details</button
                ><br />

                <!--Formarray to store seat details-->

                <div class="mb-4">
                  <div
                    formArrayName="seatDetails"
                    *ngFor="
                      let seatDetail of seatDetails().controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <br /><ng-container [formGroupName]="i">
                      <div class="mb-4 pb-2">
                        <select
                          class="form-control"
                          formControlName="seatType"
                          id="dropdownMenuButton1"
                        >
                          <option value="">Seat type</option>
                          <option value="economy">economy</option>
                          <option value=" premium economy">
                            premium economy
                          </option>
                          <option value="business">business</option>
                          <option value="first class">first class</option>
                        </select>
                        <input
                          class="form-control"
                          placeholder="No of seats"
                          formControlName="seatNo"
                          id="exampleInputPassword1"
                        />
                        <input
                          class="form-control"
                          placeholder="Price"
                          formControlName="price"
                          id="exampleInputPassword2"
                        />
                      </div>
                    </ng-container>
                  </div>
                  <br />
                  <div>
                    <br />
                    <button
                      type="submit"
                      class="btn btn-secondary"
                      id="btn1"
                      (click)="cancel()"
                    >
                      Cancel
                    </button>
                    <button
                      type="submit"
                      class="btn btn-success"
                      (click)="addFlight()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
