
<script src="/assets/js/admin/popper1.min.js"></script>

<script src="/assets/js/admin/bootstrap1.min.js"></script>

<script src="/assets/js/admin/metisMenu.js"></script>

<script src="/assets/vendors/scroll/perfect-scrollbar.min.js"></script>
<script src="/assets/vendors/scroll/scrollable-custom.js"></script>

<script src="/assets/js/admin/custom.js"></script>
<link rel="icon" href="/assets/img/mini_logo.png" type="/assets/image/png">

<link rel="stylesheet" href="/assets/css/admin/bootstrap1.min.css" />

<link rel="stylesheet" href="/assets/vendors/themefy_icon/themify-icons.css" />
<link rel="stylesheet" href="/assets/vendors/font_awesome/css/all.min.css" />


<link rel="stylesheet" href="/assets/vendors/scroll/scrollable.css" />

<link rel="stylesheet" href="/assets/css/admin/metisMenu.css">

<link rel="stylesheet" href="/assets/css/admin/style1.css" />
<link rel="stylesheet" href="/assets/css/admin/colors/default.css" id="colorSkinCSS">
<app-nav></app-nav><br><br>

<body>
    <form [formGroup]="FlightRegForm">
        <div class="main_content_iner ">
            <div class="container-fluid p-0 sm_padding_15px">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="white_card card_height_100 mb_30">
                            <div class="white_card_header">
                                <div class="box_header m-0">
                                    <div class="main-title">
                                        <h3 class="m-0">Flight Registration</h3><br>
                                    </div>
                                </div>
                            </div>
                            <div class="white_card_body">
                                <!--Dropdown for selecting airplane names-->
                                <label class="form-label" for="exampleInputEmail1">Airplane Name</label>
                                <div class="dropdown">
                                    
                                    <div class="mb-4 pb-2">
                                        <select class="form-control" (change)="changePlane($event)" formControlName="airplane"
                                        id="Companydropdown">
                                        <option value="">Select Airplane</option>
                                        <option *ngFor="let name of AirplaneDetails" [value]="">{{name.airplaneName}}
                                        </option>
                                      </select>
                                        <div>
                                            <span class="sp"
                                                *ngIf="(FlightRegForm.controls['airplane'].touched) && (FlightRegForm.hasError('required','airplane'))"><i>*required*</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputEmail1">Flight Number</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        formControlName="flightno" aria-describedby="emailHelp" placeholder="">
                                    <div>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['flightno'].touched) && (FlightRegForm.hasError('required','flightno'))"><i>*required*</i></span>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['flightno'].touched) && (FlightRegForm.hasError('pattern','flightno'))"><i>*Invalid
                                                Format*</i></span>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword1">Departure</label>
                                    <input type="text" class="form-control" id="exampleInputPassword"
                                        formControlName="departure" placeholder="">
                                    <div>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['departure'].touched) && (FlightRegForm.hasError('required','departure'))"><i>*required*</i></span>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['departure'].touched) && (FlightRegForm.hasError('pattern','departure'))"><i>*Invalid
                                                Format*</i></span>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword1">Departure date&time</label>
                                    <input type="text" class="form-control" id="exampleInputPassword"
                                        formControlName="departureDT" placeholder="">
                                    <div>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['departureDT'].touched) && (FlightRegForm.hasError('required','departureDT'))"><i>*required*</i></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword1">Destination</label>
                                    <input type="text" class="form-control" id="exampleInputPassword"
                                        formControlName="destination" placeholder="">
                                    <div>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['destination'].touched) && (FlightRegForm.hasError('required','destination'))"><i>*required*</i></span>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['destination'].touched) && (FlightRegForm.hasError('pattern','destination'))"><i>*Invalid
                                                Format*</i></span>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputPassword1">Arrival date&time</label>
                                    <input type="text" class="form-control" id="exampleInputPassword"
                                        formControlName="ariivalDT" placeholder="">
                                    <div>
                                        <span class="sp"
                                            *ngIf="(FlightRegForm.controls['ariivalDT'].touched) && (FlightRegForm.hasError('required','ariivalDT'))"><i>*required*</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="white_card_body">
                                <button class="btn btn-dark" (click)="addCreds()" id="btnadd">Click here to add seat
                                    details</button><br>
                                <!--Formarray to store seat details-->
                                <div class="mb-4">
                                    <div formArrayName="seatDetails"
                                        *ngFor="let seatDetail of seatDetails().controls; let i=index"
                                        [formGroupName]="i">
                                        <br><ng-container [formGroupName]="i">
                                            <div class="mb-4 pb-2">
                                                <!-- <select class="form-control" (change)="changeSeat($event)"
                                                    formControlName="seat" id="dropdownMenuButton1">
                                                    <option value="">Seat Type</option>
                                                    <option *ngFor="let seat of seats" [value]="seat">{{seat}}</option>
                                                </select> -->
                                                <select class="form-control" (change)="changeSeat($event)" formControlName="seatType" id="dropdownMenuButton1">
                                                    <option value="">Seat type</option>
                                                  
                                                    <option *ngFor="let type of seats" [value]=" ">{{type}}</option>

                                                  </select>
                                                <input class="form-control" placeholder="No of seats"
                                                    formControlName="seatNo" id="exampleInputPassword1">
                                                <input class="form-control" placeholder="Price" formControlName="price"
                                                    id="exampleInputPassword2">
                                                <span class="sp"
                                                    *ngIf="(FlightRegForm.controls['price'].touched) && (FlightRegForm.hasError('required','price'))"><i>*required*</i></span>
                                            </div>
                                        </ng-container>
                                    </div><br>
                                    <div>
                                        <br> <button type="submit" class="btn btn-secondary" id="btn1"
                                            (click)="cancel()">Cancel</button>
                                        <button type="submit" class="btn btn-success"
                                            (click)="addFlight()">Submit</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
