#btnadd{
    margin-left: 20%;
}
form{
    margin-left: 25%;
}
#btn1{
    margin-right: 60%;
}
.sp1{
    color: red;
    margin-left: 25%;
}
.span1{
    color: rgb(240, 87, 87) !important;
}
