a{
    text-decoration: none;
}
.errorMsg{
    color:red;
}
button:disabled{
    background-color: #c0c0c0;
    color:rgb(78,78,78);
    border-color: #ffffff;
    background: #9c9c9c;
}
.col-lg-7 {
    margin-left: 5% !important;
  }
  @media (max-width: 767px) {
    .banner-tabs {
      margin-top: 0 !important;
      padding-top: 110px !important;
    }}