
#navtitle{
    color: white;
}
span{
    color:aliceblue
}
a{
    text-decoration: none !important;
}
ol, ul {
    padding-left: 0;
  }
.profile_info_iner
{
    text-align:right!important;

}
