<link rel="stylesheet" href="/assets/css/admin/bootstrap1.min.css" />
<link rel="stylesheet" href="/assets/css/admin/style1.css" />
<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
    <a class="large_logo" href="index.html"><img src="img/logo_white.png" alt=""></a>
    <a class="small_logo" href="index.html"><img src="img/mini_logo.png" alt=""></a>
    <div class="sidebar_close_icon d-lg-none">
    <i class="ti-close"></i>
    </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
        <div class="nav_icon_small">
        <img src="/assets/img/menu-icon/map.svg" alt="">
        </div>
        <div class="nav_title">
        <span>Airplane</span>
        </div>
        </a>
        <ul>
        <li><a href="Layouts.html">Registration</a></li>
        <li><a href="index.html">Airplane Details</a></li>
        </ul>
        </li></ul>
        <ul id="sidebar_menu">
            <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
            <img src="/assets/img/menu-icon/18.svg" alt="">
            </div>
            <div class="nav_title">
            <span>Flights</span>
            </div>
            </a>
            <ul>
            <li><a href="Layouts.html">Register</a></li>
            <li><a href="index.html">Flight Details</a></li>
            </ul>
            </li></ul>
            <ul id="sidebar_menu">
                <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                <img src="/assets/img/menu-icon/16.svg" alt="">
                </div>
                <div class="nav_title">
                <span>Reservation Details</span>
                </div>
                </a>
              
                </li></ul>
   
    </nav>
