#exampleModalLabel{
    margin-left: 37%;
    color: white;
    font-size: larger;
}
.modal-header{
    background-color: #373063;
   
}
.white_box{
    margin-top: 10%;
}
.btn_1{
    width: 100%;
}

