<app-admin-nav></app-admin-nav>
<section class="main_content dashboard_part large_header_bg">
  <div class="col-lg-12">
    <div class="white_box mb_30">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div
                      class="listing-details-inner bx-wrapper bg-custom-white padding-20"
                    >
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="listing-meta-sec">
                            <div class="tabs">
                              <div class="tab-content">
                                <div
                                  class="tab-pane fade active show"
                                  id="overview"
                                >
                                  <div class="tab-inner">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="flights-grid">
                                          <div
                                            class="flights-grid-wrapper bx-wrapper"
                                          >
                                            <div
                                              class="flights-grid-caption padding-20 bg-custom-white p-relative"
                                            >
                                              <div class="heading-sec">
                                                <div class="title"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div
                                          class="hotel-type mb-xl-20 bg-light-white padding-10"
                                        >
                                          <ul class="custom">
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                User Name </label
                                              >{{ data.fullName }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Email: </label
                                              >{{ data.email }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Date of birth : </label
                                              >{{ data.dob }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Address </label
                                              >{{ data.address }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Country: </label
                                              >{{ data.country }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Phone Number: </label
                                              >{{ data.phone }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                City: </label
                                              >{{ data.city }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Role:
                                              </label>
                                              <span
                                                *ngIf="data.role == 1"
                                                class="price"
                                                >Admin</span
                                              >
                                              <span
                                                *ngIf="data.role == 2"
                                                class="price"
                                                >Company</span
                                              >
                                              <span
                                                *ngIf="data.role == 3"
                                                class="price"
                                                >Passenger</span
                                              >
                                            </li>
                                          </ul>
                                        </div>
                                        <button
                                          type="submit"
                                          class="btn_1 full_width text-center"
                                          (click)="deleteAccount()"
                                        >
                                          Delete</button
                                        ><br /><br />
                                        <button
                                          type="submit"
                                          class="btn_1 full_width text-center"
                                          (click)="cancel()"
                                        >
                                          Cancel
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
