<app-admin-nav></app-admin-nav>
<div class="row ">
  <div class="main_content_iner ">
    <div class="container-fluid p-0">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
              <div class="box_header m-0">
                <div class="main-title">
                </div>
              </div>
            </div>
            <div class="white_card_body" style="position: relative; margin-left: 269px;">
              <div class="QA_section">
                <div class="white_box_tittle list_header">
                  <h4>Flight List</h4>
                  <div class="box_right d-flex lms_block">
                    <div class="serach_field_2">
                      <div class="search_inner">
                        <form>
                          <div class="search-hero">
                            <input type="text" name="search" placeholder="Search content here..."
                              [(ngModel)]="searchText" autocomplete="off">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- dropdown for company selection start -->
                <form [formGroup]="flightlist" (click)="changeCompany($event)">
                  <div class="form-group" align="center"> <label for="exampleInputEmail1">Select company : </label>
                    <select style="position: relative;width:274px; height:47px;" type="input" formControlName="userId">
                      <option value="" hidden disabled selected>Choose Company</option>
                      <option *ngFor="let org of company" value={{org.userId}}>
                        {{org.fullName}}
                      </option>
                    </select>
                  </div>
                </form>
                <div class="QA_table mb_30"><br><br>
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th scope="col">Id</th>
                        <th scope="col">Flight Name</th>
                        <th scope="col">Airplane Name</th>
                        <th scope="col">Departing From</th>
                        <th scope="col">Departing DateTime</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Destination DateTime</th>
                        <th scope="col">
                          <a title="delete"><i class="fa fa-trash"></i></a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let f of flight | filter:searchText let i = index">
                        <th scope="row">
                          <input class="form-check-input" type="checkbox" [value]="f.id" [checked]="f.select"
                            (change)="onChangeCompany($event)" />
                        </th>
                        <td>{{ f.flightId }}</td>
                        <td>{{ f.flightNumber }}</td>
                        <td>{{ f.airplane.airplaneName }}</td>
                        <td>{{ f.departure }}</td>
                        <td>{{ f.depDateTime }}</td>
                        <td>{{ f.destination }}</td>
                        <td>{{ f.destDateTime }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>