
<section class="main_content dashboard_part large_header_bg">
  <div class="col-lg-12">
    <div class="white_box mb_30">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title text_white"
                id="exampleModalLabel"
                style="margin-left: 35%"
              >
                Booking Details
              </h5>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div
                      class="listing-details-inner bx-wrapper bg-custom-white padding-20"
                    >
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="listing-meta-sec">
                            <div class="tabs">
                              <div class="tab-content">
                                <div
                                  class="tab-pane fade active show"
                                  id="overview"
                                >
                                  <div class="tab-inner">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="flights-grid">
                                          <div
                                            class="flights-grid-wrapper bx-wrapper"
                                          >
                                            <div
                                              class="flights-grid-caption padding-20 bg-custom-white p-relative"
                                            >
                                              <div class="heading-sec">
                                                <div class="title"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div
                                          class="hotel-type mb-xl-20 bg-light-white padding-10"
                                        >
                                          <ul class="custom">
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Passenger Name </label
                                              >{{ response.user.fullName }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Flight Name : </label
                                              >{{
                                                response.flight.flightNumber
                                              }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Departing From : </label
                                              >{{ response.flight.departure }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Destination: </label
                                              >{{ response.flight.destination }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Date of Departing: </label
                                              >{{
                                                response.flight.depDateTime
                                                  | date
                                              }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Time of Departing: </label
                                              >{{
                                                response.flight.depDateTime
                                                  | date : "HH:mm"
                                              }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Date of Arrival: </label
                                              >{{
                                                response.flight.destDateTime
                                                  | date
                                              }}
                                            </li>
                                            <li class="text-light-dark">
                                              <label
                                                class="no-margin text-custom-blue"
                                              >
                                                Time of Arrival: </label
                                              >{{
                                                response.flight.destDateTime
                                                  | date : "HH:mm"
                                              }}
                                            </li>
                                          </ul>
                                        </div>
                                        <button
                                          type="submit"
                                          class="btn_1 full_width text-center"
                                          (click)="
                                            approve(response.bookingId, 0)
                                          "
                                        >
                                          Reject</button
                                        ><br /><br />
                                        <button
                                          type="submit"
                                          class="btn_1 full_width text-center"
                                          (click)="
                                            approve(response.bookingId, 1)
                                          "
                                        >
                                          Approve</button
                                        ><br /><br />
                                        <button
                                          type="submit"
                                          class="btn_1 full_width text-center"
                                          [routerLink]="['/reservation-list']"
                                        >
                                          cancel
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
