<link rel="icon" href="/assets/img/mini_logo.png" type="image/png">

<link rel="stylesheet" href="/assets/css/admin/bootstrap1.min.css" />

<link rel="stylesheet" href="/assets/vendors/themefy_icon/themify-icons.css" />

<link rel="stylesheet" href="/assets/vendors/niceselect/css/nice-select.css" />

<link rel="stylesheet" href="/assets/vendors/owl_carousel/css/owl.carousel.css" />

<link rel="stylesheet" href="/assets/vendors/gijgo/gijgo.min.css" />

<link rel="stylesheet" href="/assets/vendors/font_awesome/css/all.min.css" />
<link rel="stylesheet" href="/assets/vendors/tagsinput/tagsinput.css" />

<link rel="stylesheet" href="/assets/vendors/datepicker/date-picker.css" />
<link rel="stylesheet" href="/assets/vendors/vectormap-home/vectormap-2.0.2.css" />

<link rel="stylesheet" href="/assets/vendors/scroll/scrollable.css" />

<link rel="stylesheet" href="/assets/vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/assets/vendors/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="/assets/vendors/datatable/css/buttons.dataTables.min.css" />

<link rel="stylesheet" href="/assets/vendors/text_editor/summernote-bs4.css" />

<link rel="stylesheet" href="/assets/vendors/morris/morris.css">

<link rel="stylesheet" href="/assets/vendors/material_icon/material-icons.css" />

<link rel="stylesheet" href="/assets/css/admin/metisMenu.css">

<link rel="stylesheet" href="/assets/css/admin/style1.css" />
<link rel="stylesheet" href="/assets/css/admin/colors/default.css" id="colorSkinCSS">
<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="" style="color: aliceblue; size: 50px;"><b> Airplane Ticket Booking </b></a>
        <a class="small_logo" href=""><img src="assets/img/adimn/mini_logo.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <ul>
                <li><a [routerLink]="['#']">
                        <div class="nav_icon_small">
                            <i class='fab fa-buromobelexperte' style='font-size:24px'></i>
                        </div>
                        Dashboard
                    </a></li>
                <li><a [routerLink]="['/companyreg']">
                        <div class="nav_icon_small">
                            <i class='fas fa-building' style="font-size:24px;"></i>
                        </div>
                        Company Registration
                    </a></li>
            </ul>
        </li>
        <li class="">
            <ul>
                <li><a [routerLink]="['/companylist']">
                        <div class="nav_icon_small">
                            <i class='fas fa-city' style='font-size:24px'></i>
                        </div>
                        Company List
                    </a></li>
                <li><a [routerLink]="['/userlist']">
                        <div class="nav_icon_small">
                            <i class='fas fa-chalkboard-teacher' style='font-size:24px'></i>
                        </div>
                        Registered User
                    </a></li>
            </ul>
        </li>
        <li class="">
            <ul>
                <li><a [routerLink]="['/cancelreservation']">
                        <div class="nav_icon_small">
                            <img src="https://cdn-icons-png.flaticon.com/512/2140/2140667.png" alt=""
                                style="background-color: white;font-size: 24px;">

                        </div>
                        Cancel Reservation List
                    </a></li>
                <li><a href="">
                        <div class="nav_icon_small">
                            <i class='far fa-list-alt' style='font-size:24px'></i>
                        </div>
                        Reservation List
                    </a></li>
            </ul>
        </li>
        <li class="">
            <ul>
                <li><a [routerLink]="['#']">
                        <div class="nav_icon_small">
                            <i class="fa fa-plane" style="font-size:24px"></i>
                        </div>
                        Airoplane List
                    </a></li>
                <li><a [routerLink]="['/flightlist']">
                        <div class="nav_icon_small">
                            <i class='fas fa-fighter-jet' style='font-size:24px'></i>
                        </div>
                        flight List
                    </a></li>
            </ul>
        </li>

    </ul>
</nav>

<div class="container-fluid g-0">
    <div class="row">
        <div class="col-lg-12 p-0 ">
            <div class="header_iner d-flex justify-content-between align-items-center">
                <div class="sidebar_icon d-lg-none">
                </div>
                <div class="line_icon open_miniSide d-none d-lg-block">

                </div>

                <!-- profile start -->

                <div class="profile_info d-flex align-items-center">
                    <div class="profile_thumb mr_20">
                        <i class='fas fa-user-circle' style='font-size:36px;color: rgb(128, 194, 194);'></i>
                    </div>
                    <div class="author_name">
                        <h4 class="f_s_15 f_w_500 mb-0"></h4>
                        <p class="f_s_12 f_w_400" style="font-size: 20px;">Aron Jose</p>
                    </div>
                    <div class="profile_info_iner">
                        <div class="profile_author_name">
                            <p>Admin</p>
                            <h5>Aron Jose</h5>
                        </div>
                        <div class="profile_info_details">
                            <a href="#">My Profile </a>
                            <a href="#">Setting</a>
                            <a href="#">Log Out </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- profile end -->