.subheader{
    background-image: url(/assets/img/user/breadcrumb-banner.jpg);
    text-align: center;
}
a{
    text-decoration: none ;
}
.errorMsg{
    color:red;
}
button:disabled{
    background-color: #c0c0c0;
    color:rgb(78,78,78);
    border-color: #ffffff;
    background: #9c9c9c;
    
}
button:disabled::before{
    color:rgb(78,78,78)!important;
    border-color: #ffffff!important;
    background: #9c9c9c!important;
    
}