<app-admin-nav></app-admin-nav>

<section class="main_content dashboard_part large_header_bg">
  <div class="main_content_iner">
    <div class="container-fluid p-0">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
              <div>
                <div class="white_card_body p-0">
                  <h4 class="d-flex justify-content-center">Pending Bookings</h4>
                </div>
              </div>
            </div>
            <div class="white_card_body">
              <div class="QA_section">
                 
                 
                  <div class="box_right d-flex lms_block">
                    <div class="serach_field_2">
                      <div class="search_inner">
                        <form [formGroup]="cancelledListForm">
                          <div class="search_field pr-3 pb-0">
                            <input
                              type="text"
                              formControlName="search"
                              [(ngModel)]="searchText"
                              placeholder="Search details here..."
                              autocomplete="off"
                            />
                          </div>
                          <button type="submit">
                            <i class="ti-search"></i>
                          </button>
                        </form>
                      </div>
                    </div>
                    <div>
                      <button
                        (click)="export()"
                        [disabled]="items.length == 0 ? true : false"
                        class="btn btn-primary mt-1"
                      >
                        CSV Export
                      </button>
                    </div>
                  </div>
                
                <div class="QA_table mb_30">
                  <table class="table lms_table_active3">
                    <thead>
                      <tr>
                        <th scope="col">
                         
                          <button
                            class="fa fa-trash deleteButton"
                            [disabled]="checkList.length == 0 ? true : false"
                            (click)="deleteData()"
                          ></button>
                        </th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Flight Number</th>
                        <th scope="col">Departing From</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Departing Date</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let bookings of items | filter : searchText;
                          let i = index
                        "
                      >
                        <th scope="row">
                          <label for="sel"></label>
                          <input
                            type="checkbox"
                            [value]="bookings.bookingId"
                            (change)="onCheckboxChange($event)"
                          />
                        </th>
                        <td>{{ bookings.user.fullName }}</td>
                        <td>{{ bookings.flight.flightNumber }}</td>
                        <td>{{ bookings.flight.departure }}</td>
                        <td>{{ bookings.flight.destination }}</td>
                        <td>
                          {{ bookings.flight.depDateTime | date : "fullDate" }}
                        </td>
                    <td>
                          <a
                            class="status_btn"
                            [routerLink]="[
                              '/reservation-details',
                              bookings.bookingId
                            ]"
                            >View</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>