
.material-icons {
   margin-left: 5%;
}
.mb-4{
    width: 20%;
}
.search_field{
    width:50%;
    margin-left: 50%;
}
#Companydropdown{
    margin-top:30%;
    width: 37%;
   
}
.search-hero{
   width: 50%;
   margin-left: 140%;
}
.btn_1{

margin-left: 350%;

}