<app-company-nav></app-company-nav>
<section class="main_content dashboard_part large_header_bg">
    <app-admin-header></app-admin-header>
    <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="white_card card_height_100 mb_30">
                            <div class="white_card_header">
                                <div class="box_header m-0">
                                    <div class="main-title">
                                        <h3 class="m-0">Company Name</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="white_card_body">
                                <div class="QA_section">
                                    <div class="white_box_tittle list_header">
                                        <h4>Flight List</h4>
                                        <div class="box_right d-flex lms_block">
                                            <div class="serach_field_2">
                                                <div class="search_inner">
                                                    <form Active="#">
                                                        <div class="search_field">
                                                            <input type="text" placeholder="Search content here...">
                                                        </div>
                                                        <button type="submit"> <i class="ti-search"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- <div class="add_button ms-2">
                                                <a href="register.html" data-bs-toggle="modal"
                                                    data-bs-target="#addcompany" class="btn_1">Add New</a>
                                            </div> -->
                                            <div>
                                                <button class="btn primary">CSV Export</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="QA_table mb_30">
                                        <table class="table lms_table_active3 ">
                                            <thead>
                                            <tr>
                                            <a class="delete" title="Delete" data-toggle="tooltip" ><i class="fa fa-trash"></i></a>
                                            </tr> 
                                            <tr>
                                            <th></th>
                                            <th scope="col">Flight Name</th>
                                            <th scope="col">Aeroplane Name</th>
                                            <th scope="col">Departure</th>
                                            <th scope="col">Departure Date&time</th>
                                            <th scope="col">Arrival</th>
                                            <th scope="col">Arrival Date&time</th>
                                            <th scope="col">Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1Adsdhbd</td>
                                            <td>IND2134A</td>
                                            <td>Kochi</td>
                                            <td>20-10-2023:11.20 AM</td>
                                            <td>Seoul</td>
                                            <td>20-10-2023:10.30 PM</td>
                                            <td><a class="btn btn-info mr-2"  class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>1Adsdhbd</td>
                                                <td>IND2134A</td>
                                                <td>Kochi</td>
                                                <td>20-10-2023:11.20 AM</td>
                                                <td>Seoul</td>
                                                <td>20-10-2023:10.30 PM</td>
                                                <td><a class="btn btn-info mr-2" class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td>1Adsdhbd</td>
                                                    <td>IND2134A</td>
                                                    <td>Kochi</td>
                                                    <td>20-10-2023:11.20 AM</td>
                                                    <td>Seoul</td>
                                                    <td>20-10-2023:10.30 PM</td>
                                                    <td><a class="btn btn-info mr-2"  class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox"></td>
                                                        <td>1Adsdhbd</td>
                                                        <td>IND2134A</td>
                                                        <td>Kochi</td>
                                                        <td>20-10-2023:11.20 AM</td>
                                                        <td>Seoul</td>
                                                        <td>20-10-2023:10.30 PM</td>
                                                        <td><a class="btn btn-info mr-2"  class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>1Adsdhbd</td>
                                                            <td>IND2134A</td>
                                                            <td>Kochi</td>
                                                            <td>20-10-2023:11.20 AM</td>
                                                            <td>Seoul</td>
                                                            <td>20-10-2023:10.30 PM</td>
                                                            <td><a class="btn btn-info mr-2"  class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="checkbox"></td>
                                                                <td>1Adsdhbd</td>
                                                                <td>IND2134A</td>
                                                                <td>Kochi</td>
                                                                <td>20-10-2023:11.20 AM</td>
                                                                <td>Seoul</td>
                                                                <td>20-10-2023:10.30 PM</td>
                                                                <td><a class="btn btn-info mr-2" class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><input type="checkbox"></td>
                                                                    <td>1Adsdhbd</td>
                                                                    <td>IND2134A</td>
                                                                    <td>Kochi</td>
                                                                    <td>20-10-2023:11.20 AM</td>
                                                                    <td>Seoul</td>
                                                                    <td>20-10-2023:10.30 PM</td>
                                                                    <td><a class="btn btn-info mr-2"  class='fas fa-edit'><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                                    </tr>
                                            </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
 