
  <section class="main_content dashboard_part large_header_bg">
    <div class="main_content_iner">
      <div class="container-fluid p-0">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="white_box mb_30">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="modal-content cs_modal">
                    <div class="modal-header">
                      <h5
                        class="modal-title text_white"
                        style="margin-left: 25%"
                      >
                        Change Password
                      </h5>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="changePasswordForm">
                        <div class="">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Enter your current password"
                            formControlName="currentPass"
                          />
                          <div>
                            <span
                              
                              *ngIf="
                                changePasswordForm.controls['currentPass']
                                  .touched &&
                                changePasswordForm.hasError(
                                  'required',
                                  'currentPass'
                                )
                              "
                              ><i class="sp">Please enter your current password</i></span
                            >
                          </div>
                          <div>
                            <span
                              
                              *ngIf="
                                changePasswordForm.controls['currentPass']
                                  .touched &&
                                changePasswordForm.hasError(
                                  'pattern',
                                  'currentPass'
                                )
                              "
                              ><i class="sp">*Invalid Format*</i></span
                            >
                          </div>
                          <div>
                            <span
                              
                              *ngIf="
                                changePasswordForm.controls['currentPass']
                                  .touched &&
                                changePasswordForm.hasError(
                                  'minlength',
                                  'currentPass'
                                )
                              "
                              ><i class="sp">Current password is too short</i></span
                            >
                          </div>
                          <div>
                            <span
                              
                              *ngIf="
                                changePasswordForm.controls['currentPass']
                                  .touched &&
                                changePasswordForm.hasError(
                                  'maxlength',
                                  'currentPass'
                                )
                              "
                              ><i class="sp">Current password is too long</i></span
                            >
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Enter your new password"
                            formControlName="newPass"
                          />
                          <div>
                            <div>
                              <span
                                
                                *ngIf="
                                  changePasswordForm.controls['newPass']
                                    .touched &&
                                  changePasswordForm.hasError(
                                    'required',
                                    'newPass'
                                  )
                                "
                                ><i class="sp">Please enter your new password</i></span
                              >
                            </div>
                            <div>
                              <span
                               
                                *ngIf="
                                  changePasswordForm.controls['newPass']
                                    .touched &&
                                  changePasswordForm.hasError(
                                    'pattern',
                                    'newPass'
                                  )
                                "
                                ><i class="sp">*Invalid Format*</i></span
                              >
                            </div>
                            <div>
                              <span
                                
                                *ngIf="
                                  changePasswordForm.controls['newPass']
                                    .touched &&
                                  changePasswordForm.hasError(
                                    'minlength',
                                    'newPass'
                                  )
                                "
                                ><i class="sp"
                                  >New password should contain minimum 8
                                  characters</i
                                ></span
                              >
                            </div>
                            <div>
                              <span
                                
                                *ngIf="
                                  changePasswordForm.controls['newPass']
                                    .touched &&
                                  changePasswordForm.hasError(
                                    'maxlength',
                                    'newPass'
                                  )
                                "
                                ><i class="sp"
                                  >New password should contain maximum 25
                                  characters</i
                                ></span
                              >
                            </div>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Re-enter your new password"
                            formControlName="newPass2"
                          />
                          <div>
                            <span
                             
                              *ngIf="
                                changePasswordForm.controls['newPass2']
                                  .touched &&
                                changePasswordForm.hasError(
                                  'required',
                                  'newPass2'
                                )
                              "
                              ><i  class="sp">Please re-enter your new password</i></span
                            >
                          </div>
                          <div
                            
                            *ngIf="
                              changePasswordForm.controls['newPass2'].touched &&
                              changePasswordForm.hasError(
                                'confirmPasswordValidator',
                                'newPass2'
                              )
                            "
                          >
                           <i class="sp">Passsword and Confirm Password didn't match</i> 
                          </div>
                        </div>
                        <button
                          type="submit"
                          class="btn_1 full_width text-center"
                          (click)="changePwd()"
                          [disabled]="status"
                        >
                          Change
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

