<app-company-nav></app-company-nav>
<section class="main_content dashboard_part large_header_bg">
  <br /><br /><br />
  <div class="main_content_iner overly_inner">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="main-title mb_30"></div>
        </div>
        <div class="col-lg-9">
          <div class="white_card card_height_100 mb_30">
            <div class="white_card_header pb-0">
              <div class="box_header m-0"></div>
            </div>
            <div class="white_card_body">
              <div class="d-flex mb_30 border_bottom_1px pb-3">
                <div class="flex-shrink-0">
                  <!-- <img class="me-3 rounded-circle me-0 me-sm-3" src="/assets/img/admin/transfer/4.png" alt="" width="60" height="60"> -->
                </div>
                <div class="flex-grow-1">
                  <h4 class="mb-2">{{ items.fullName }}</h4>
                  <p class="mb-1">
                    <span><i class="fa fa-phone me-2 text-primary"></i></span
                    >{{ items.phone }}
                  </p>
                  <p class="mb-1">
                    <span
                      ><i class="fa fa-envelope me-2 text-primary"></i
                    ></span>
                    <a
                      href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="afc7cac3c3c0efcad7cec2dfc3ca81ccc0c2"
                      >{{ items.email }}</a
                    >
                  </p>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Address</span><span>{{ items.address }}</span>
                </div>
                <br />
                <div class="d-flex justify-content-between">
                  <span>City</span><span>{{ items.city }}</span>
                </div>
                <br />
                <!-- <div class="d-flex justify-content-between">
      <span>Country</span><span>{{items.country}}</span>
    </div><br> -->
                <div class="d-flex justify-content-between">
                  <span>Date of birth</span><span>{{ items.dob }}</span>
                </div>
                <br />
                <div class="d-flex justify-content-between">
                  <span>Passport number</span
                  ><span>{{ items.passportNumber }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
