/* .main_content_iner {
    margin-left: 20%;
} */
.main_content_iner {
    margin-left: 20%;
}
.material-icons {
   margin-left: 5%;
}
.mb-4{
    width: 20%;
}
.search_field{
    width:50%;
    margin-left: 50%;
}
#Companydropdown{
    margin-top:30%;
    width: 37%;
   
}
.search-hero{
   width: 50%;
   margin-left: 140%;
}
.btn_1{

margin-left: 370%;

}
/* @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
    
    .search-hero{
        margin-top: 20%;
      
    }
    #Companydropdown{
        margin-top: 25%;
       
    }
    .table{
        width:95%;
    }
} */
/* @media only screen 
and (min-device-width : 1201px)  {
    .main_content_iner {
        margin-left: 20%;
    }
    .material-icons {
       margin-left: 5%;
    }
    .mb-4{
        width: 20%;
    }
    .search_field{
        width:50%;
        margin-left: 50%;
    }
    #Companydropdown{
        margin-top:30%;
        width: 37%;
       
    }
    .search-hero{
       width: 50%;
       margin-left: 140%;
    }
    .btn_1{
    
    margin-left: 370%;
    
    }
} */


