.main_content_iner {
    margin-left: 20%;
}
.material-icons {
   margin-left: 5%;
}
.mb-4{
    width: 20%;
}
.search_field{
    width:50%;
    margin-left: 50%;
}
#Companydropdown{
    margin-top:10%;
}

