<app-stylesheet></app-stylesheet>
<app-admin-nav></app-admin-nav><br><br>

<div class="main_content_iner " style="margin-top:-65px;position: relative; margin-left: 215px;">
  <div class="container-fluid p-0 sm_padding_15px">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header">
            <div class="box_header m-0">
              <div class="main-title" style="margin:20px;">
                <h3 class="m-0">Company Registration</h3>
              </div>
            </div>
          </div>
          <div class="white_card_body">
            <form [formGroup]="companyreg">
              <div class="mb-3">
                <label class="form-label" for="fullName">Company Name</label>
                <input type="text" class="form-control" id="fullName" formControlName="fullName"
                  aria-describedby="fullName" placeholder="">
                <div>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['fullName'].touched) && (companyreg.hasError('required','fullName'))"><i>*required*</i></span>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['fullName'].touched) && (companyreg.hasError('pattern','fullName'))"><i>*Invalid
                      Format*</i></span>

                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="phone">Contact Number</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" aria-describedby="phone"
                  placeholder="">
                <div>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['phone'].touched) && (companyreg.hasError('required','phone'))"><i>*required*</i></span>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['phone'].touched) && (companyreg.hasError('pattern','phone'))"><i>*Invalid
                      Format*</i></span>

                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="address">Company Address</label>
                <textarea class="form-control" id="address" formControlName="address" aria-describedby="Address"
                  placeholder=""></textarea>
                <div>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['address'].touched) && (companyreg.hasError('required','address'))"><i>*required*</i></span>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['address'].touched) && (companyreg.hasError('pattern','address'))"><i>*Invalid
                      Format*</i></span>

                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Company Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" aria-describedby="email"
                  placeholder="">
                <div>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['email'].touched) && (companyreg.hasError('required','email'))"><i>*required*</i></span>
                  <span class="sp" style="color: brown;"
                    *ngIf="(companyreg.controls['email'].touched) && (companyreg.hasError('pattern','email'))"><i>*Invalid
                      Format*</i></span>

                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="">
              </div>
              <button class="btn btn-secondary" style="position: relative;margin-left: 210px;"
                (click)="cancel()">Cancel</button>
              <button class="btn btn-success" [disabled]="valid" style="position: relative;margin-left: 10px;"
                (click)="CompanyReg()">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>